<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}Web2AI{% endblock %}</title>

    <!-- Include Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Link to custom CSS
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    /> -->

    <!-- Alpine.js -->
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gray-100">
    {% block content %}{% endblock %}
  </body>
</html>
