{% extends "base.html" %} {% block title %}Basic Scraper{% endblock %} {% block
content %}
<div class="bg-white shadow-lg rounded-lg p-8 w-max-content">
  <a
    href="/"
    class="block w-full bg-white text-blue-500 font-semibold py-2 rounded-lg hover:bg-gray-100 transition duration-200 text-center"
  >
    Back
  </a>
  <h1 class="text-3xl font-bold text-center mb-4">Website history</h1>
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th
          class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight"
        >
          URL
        </th>
        <th
          class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight"
        >
          Parent URL
        </th>
        <th
          class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight"
        >
          Date
        </th>
        <th
          class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight"
        >
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for site in sites %}
      <tr>
        <td class="py-2 px-4 border-b border-gray-300">{{ site.url }}</td>
        <td class="py-2 px-4 border-b border-gray-300">
          {{ site.parent_url }}
        </td>
        <td class="py-2 px-4 border-b border-gray-300">{{ site.date }}</td>
        <td class="py-2 px-4 border-b border-gray-300">
          <a
            href="{{ url_for('main.attachment') }}?url={{ site.url | urlencode }}"
            class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-200"
            style="margin-right: 10px"
          >
            Attachments
          </a>
          <a
            href="{{ 'https://' + site.url }}"
            target="_blank"
            class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-200"
          >
            Go to website
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
