{% extends "base.html" %} {% block title %}Web2AI{% endblock %} {% block
content %}
<div
  class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md"
  x-data="scraperApp()"
>
  <h1 class="text-3xl font-bold text-center mb-4">Web2AI Web Scraper</h1>
  <h2 class="text-xl font-semibold text-center mb-8">
    Extracting data from websites
  </h2>

  <!-- Form -->
  <form @submit.prevent="submitForm" class="space-y-4">
    <input
      type="text"
      name="primaryUrl"
      class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      required
      placeholder="Provide URL"
      x-model="primaryUrl"
    />
    <!--checkbox use image descriptor -->
    <div class="flex items-center space-x-2">
      <input
        type="checkbox"
        name="useImageDescriptor"
        id="useImageDescriptor"
        class="h-4 mx-2 w-4 text-blue-500"
        x-model="useImageDescriptor"
      />
      <label for="useImageDescriptor">Use image descriptor</label>
    </div>

    <button
      type="submit"
      id="submitbutton"
      name="submitbutton"
      class="w-full bg-blue-500 text-white font-semibold py-2 rounded-lg hover:bg-blue-600 transition duration-200"
    >
      Scrape
    </button>
    <div class="flex space-x-2">
      <a
        href="/history"
        class="block w-full bg-white text-blue-500 font-semibold py-2 rounded-lg hover:bg-gray-100 transition duration-200 text-center"
      >
        History
      </a>
      <a
        href="/jobs"
        class="block w-full bg-white text-blue-500 font-semibold py-2 rounded-lg hover:bg-gray-100 transition duration-200 text-center"
      >
        Jobs
      </a>
    </div>
  </form>

  <!-- Feedback Area -->
  <div x-show="loading" class="text-center mt-4 text-blue-500">Loading...</div>
  <div
    x-show="resultMessage"
    class="text-center mt-4"
    :class="resultClass"
    x-text="resultMessage"
  ></div>
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
