<!DOCTYPE html>
<html>
  <head>
    <title>PCSS Scraper</title>
  </head>

  <style>
    h1 {
      text-align: center;
    }
    form {
      text-align: center;
    }
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

  <body>
    <div class="w3-container w3-display-middle">
      <div class="w3-panel w3-card" style="height: 400px">
        <h1>Basic Scraper</h1>
        <h1>Work-In-Progess</h1>
        <br /><br />
        <form id="input-form" method="post" action="/scrape">
          <input
            type="text"
            name="primary_url"
            style="width: 300px"
            required
            placeholder="Provide URL"
          /><br /><br />
          <input
            type="text"
            name="secondary_url"
            style="width: 300px"
            placeholder="Provide secondary URL (WIP)"
          /><br /><br />
          <input
            id="submitbutton"
            type="submit"
            name="submitbutton"
            value="Analyze Reviews"
          />
        </form>
      </div>
    </div>
  </body>
</html>
